httpx==0.28.1
cryptography==46.0.1
Pillow==11.3.0
imageio-ffmpeg==0.6.0
numpy==2.2.6
kokoro-onnx==0.6.1
onnxruntime==1.30.0
opencv-python-headless==4.12.0.88
scenedetect-core @ git+https://github.com/Breakthrough/PySceneDetect.git@81c414cb4b706e58648f98efd381024790b1565f
faster-whisper @ git+https://github.com/SYSTRAN/faster-whisper.git@9fa78645d7913ff9d94d0907a2156526b19b4556
